In [3]:
import numpy as np
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame
from sklearn import linear_model

# 可視化ライブラリ
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()
%matplotlib inline

# 小数第３位まで表示
%precision 3

'%.3f'

In [10]:
cd data

[Errno 2] No such file or directory: 'data'
/home/jovyan/work/data_sci/data

In [11]:
import requests, zipfile
from io import StringIO
import io

In [13]:
# データのあるURLを指定
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00356/student.zip'

# データをurlから取得する
r = requests.get(url, stream=True)

# zipファイルを読み込み展開する
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [14]:
cd ..

/home/jovyan/work/data_sci

In [18]:
# データの読み込み
# ;が区切り文字になっているので注意

student_data_math = pd.read_csv('./data/student-mat.csv', sep=';')

In [20]:
student_data_math.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [24]:
# 性別データ
student_data_math['sex'].head()

0    F
1    F
2    F
3    F
4    F
Name: sex, dtype: object

In [26]:
# 欠席数
student_data_math['absences'].head()

0     6
1     4
2    10
3     2
4     4
Name: absences, dtype: int64

In [29]:
# 平均を求める
student_data_math.groupby('sex')['age'].mean()

sex
F    16.730769
M    16.657754
Name: age, dtype: float64

In [36]:
student_data_math.groupby('Dalc')['G3'].mean()

Dalc
1    10.731884
2     9.253333
3    10.500000
4     9.888889
5    10.666667
Name: G3, dtype: float64